/* Page Layout */
html, body, header, .navbar {
    margin: 0%;
    padding: 0;
    border-radius: 0;
}

header { 
    background-color: #111111;
    height: 60vh;
}

.navbar { /* Make gradient around cursor using js */  
    display: flex;
    background-color: #111111;
    height: 5vh;
}

/* Text Formatting */
.navbar a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: #f4b860;
}

h1 {
    color: aqua;
    text-align: center;
}