/* General */
html, body {
    margin: 0;
    padding: 0;
    border-radius: 0;
}

header {
    background-color: #182230;
    height: 30vh;
    border-bottom: 2px solid #29384D;
}

.long-header {
    height: 60vh;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #1F1F1F;
}

main {
    flex: 1;
}

p, a, h1, h2, button, span, .nav-item {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p, a, h2, span, label {
    color: #A3B3C7;
}

h1 {
    color: #69BADD;
    text-align: center;
}

.game-name, .game-added-msg, .game-favorited-msg, .game-rating, .no-games-msg, .info-msg {
    text-align: center;
}

/* Form fields */
input[type="text"], input[type="password"] {
    height: 2rem;

    border-radius: 0.5rem;
    border-color: #3B526E;
    
    background-color: #223144;

    color: #A3B3C7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.login-button, .rate-button, .fav-button, .submit-rating, .rec-button, .page-nav-item-search, .removal-button, .removal-button-confirm, .removal-button-cancel {
    height: 2rem;
    border-radius: 1rem;
    background-color: #223144;
    border-color: #3B526E;
    
    font-size: 14px;
    color: #A3B3C7;

    padding-block: 1px;
    padding-inline: 10px;
}

.rate-button, .fav-button {
    width: 100%; /* Fill the action container */
    height: auto;
    min-height: 2rem;
}

.page-nav-current {
    font-size: 14px;
    margin: 0 11px;
}

/* Links that look like buttons */
.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    
    min-height: 2rem;

    border-radius: 1rem;
    border-width: 2px;
    border-style: outset;
    border-color: #3B526E;
    
    background-color: #223144;

    padding-block: 1px;
    padding-inline: 10px;

    text-align: center;
    text-decoration: none;
    font-size: 14px;
    color: #A3B3C7;
    
    cursor: default;
}

.button:active {
    border-style: inset;
    
    transform: translateY(1px);
}

/* Main navbar */
.navbar { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #101B2D;
    border-bottom: 2px solid #29384D;
    height: 5vh;
}

.logo {
    padding-left: 1rem;
}

.logo img {
    height: 2rem;
}

.links {
    display: flex;
    padding-right: 1rem;
    gap: 1rem
}

.nav-item {
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
    color: #69BADD;
}

.navbar form {
    display: inline;
    margin: 0;
}

.navbar button[type="submit"] {
    height: auto;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0px;
}

/* Footer/disclaimer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #101B2D;
    border-top: 2px solid #29384D;
    margin-top: 2rem;
}

.igdb-disclaimer {
    text-align: center;
}

/* Home page */
.summary {
    text-align: center;
    font-size: medium;
}

/* Login */
.login-interface, .login-interface form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-interface {
    justify-content: center;
    background-color: #31445E;
    height: auto;
    border-radius: 1rem;
    margin: -40vh auto;
    max-width: 6in;
    min-width: 3in;
    width: 40%;
}

.login-divider {
    display: flex;
    align-items: center;
    width: 100%;
}

.login-divider::before, .login-divider::after {
    flex: 1;
    content: '';
    height: 2px;
    background-color: #A3B3C7;
    margin: 0 10px;
}

.login-divider::before {
    margin-right: 10px;
}

.login-divider::after {
    margin-left: 10px;
}

.oauth-item {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    padding: 0.5rem 2rem;
    border-radius: 5px;
    gap: 10px;
    font-size: 1rem;
    text-decoration: none;
}

.google-oauth {
    background-color: white;
    color: black;
}

.oauth-icon {
    height: 1rem;
}

.login-header {
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

p#signuperr:empty {
    display: none;
}

/* Searchbar */
#searchbar {
    width: 100%;
    background-color: transparent;
    font-size: 1rem;
    color: white; /* placeholder color */
    border: none;
    height: 3rem;
    padding-left: 1rem;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}

.search-container {
    margin: 3rem auto auto;
    width: 70%;
    max-width: 8in;
}

.search-form {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

.page-input {
    display: none;
}

.filter-container {
    display: flex;
    justify-content: right;
    padding-right: 1rem;
    grid-row: span 1;
    grid-column: 2 / 3;
}

.searchbar-container {
    display: flex;
    grid-row: span 1;
    grid-column: span 2;
    background-color: #1f1f1f;
    border: 2px solid #3B526E;
    height: 3rem;
    border-radius: 1.5rem;
}

#search-button {
    height: auto;
    background-color: transparent;
    border: transparent;
    border-radius: 0 1.5rem 1.5rem 0;
}

.search-icon {
    width: 2rem;
    height: 2rem;
    padding-right: 0.5rem;
    padding-top: 0.25rem;
    cursor: pointer;
}

/* Search/recommendation results */
.search-results.active {
    position: relative;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #31445E;
    border: 2px solid #3B526E;
}

.search-results ,.search-results:not(:has(.results-list > *)){
    display: none;
}

.results-list {
    width: 100%;
}

.search-item:hover {
    background-color: #565f76;
}

.game-preview-search {
    height: 95%;
    aspect-ratio: 3 / 4;
    border-radius: 5px;
    object-fit: cover;
}

.search-item {
    display: grid;
    grid-template-rows: 1in auto;
    width: 100%;
    border-radius: 5px;
    background-color: #293B51;
}

.rec-item, .search-item-expanded {
    display: grid;
    grid-template-rows: 1.5in auto;
    width: 100%;
    background-color: #293B51;
}

.game-display {
    grid-row: span 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

.game-action-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    max-width: 184.61px;
}

.game-added-msg-container {
    width: 100%;
}

.game-added-msg {
    margin: 0;
}

/* Rating, removal interface */
.rate, .removal-interface, .confirmation {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 100%;
}

.rate, .removal-interface {
    padding-bottom: 10px;
}

.rate-form, .removal-form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

/* Profile games */
.profile-card {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1.5in auto;
    place-items: center;
    width: 100%;
    border-radius: 5px;
    background-color: #293B51; 
}

.added-games-container, .favorited-games-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Default for all game lists*/
.added-games, .favorited-games, .rec-button-container, .added-games-expanded, .favorited-games-expanded, .search-results-expanded, .rec-games {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    max-width: 10in;
    overflow-y: auto;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #31445E;
}

.fav-item, .added-item {
    display: grid;
    grid-template-rows: 2in auto;
    place-items: center;
    width: 100%;
}

.game-preview {
    grid-row-start: 1;
    grid-row-end: 3;
    width: 100%;
    aspect-ratio: 3 / 4;
    object-fit: cover;
}

.game-action-container-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.game-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.expanded-nav-container {
    margin-top: 1rem;
}

.info-msg {
    margin: 1em 1rem;
}

/* Expanded pages */
.added-games-expanded, .favorited-games-expanded, .search-results-expanded, .rec-games {
    max-width: 12in;
}

/* Profile recommendation actions */
.rec-button-container {
    justify-content: center;
    gap: 0.5rem;
    padding-bottom: 1rem;
}

/* Same button on recommendations page */
.new-rec-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 3rem;
}

/* Page nav */
.page-nav, .page-nav-expanded {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    gap: 1rem;
}

.page-nav-expanded {
    width: 70%;
    margin: 0 auto;
    max-width: 12in;
}

