/* Page Layout */
html, body {
    margin: 0%;
    padding: 0;
    border-radius: 0;
}

header { 
    background-color: #4c4c47;
    height: 60vh;
}

body {
    background-color: #565f76;
}

.navbar { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2d2d2a;
    height: 5vh;
}

.logo {
    padding-left: 1rem;
}

.links {
    display: flex;
    padding-right: 1rem;
    gap: 1rem
}

.login_interface, .login_interface form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login_interface {
    justify-content: center;
    background-color: #717c98;
    height: auto;
    border-radius: 1rem;
    margin: -40vh auto;
    max-width: 5in;
    width: 40%;
}

.login_divider {
    display: flex;
    align-items: center;
    width: 100%;
}

.login_divider::before, .login_divider::after {
    flex: 1;
    content: '';
    height: 2px;
    background-color: #b8b8b8;
    margin: 0 10px;
}

.login_divider::before {
    margin-right: 10px;
}

.login_divider::after {
    margin-left: 10px;
}

.oauth_item {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    padding: 0.5rem 2rem;
    border-radius: 5px;
    gap: 10px;
    font-size: 1rem;
    text-decoration: none;
}

.google_oauth {
    background-color: white;
    color: black;
}

.summary {
    text-align: center;
    font-size: medium;
}

.search {
    display: flex;
    background-color: #2d2d2a;
    margin: 3rem auto auto;
    width: 70%;
    max-width: 8in;
    height: 3rem;
    border-radius: 1.5rem;
}

/* Fix padding showing before search is made*/
.search_results:empty {
    display: none;
}

.search_results {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    max-width: 8in;
    margin: 0 auto;
    padding: 5px;
    border-radius: 10px;
    background-color: #717c98;
}

.search_item {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 30% 70%;
    width: -webkit-fill-available;
    border-radius: 5px;
    background-color: #717c98;
}

.search_item:hover {
    background-color: #565f76;
}

/* Text Formatting */
p, a, h1, .nav_item {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p, a {
    color: #b8b8b8;
}

.nav_item {
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
    color: #69BADD;
}

.navbar form {
    display: inline;
    margin: 0;
}

.navbar button[type = "submit"] {
    height: auto;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0px;
}

h1 {
    color: #69BADD;
    text-align: center;
}

.login_header {
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

p#signuperr:empty {
    display: none;
}

.game_name, .game_rate {
    text-align: right;
}

label {
    margin: 1rem;
}

/* Image Formatting */
.logo img {
    height: 2rem;
}

.oauth_logo {
    height: 1rem;
}

.search_icon {
    width: 2rem;
    height: 2rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    cursor: pointer;
}

.game_preview {
    grid-row-start: 1;
    grid-row-end: 3;
    max-width: 3in;
    max-height: 3in;
}

/* Other */
input[type = "text"], input[type = "password"] {
    height: 2rem;
    border-radius: 0.5rem;
    background-color: #565f76;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button[type = "submit"] {
    height: 2rem;
    border-radius: 1rem;
    background-color: #565f76;
}

input[name = "search"] {
    width: 100%;
    background-color: transparent;
    font-size: 1rem;
    color: white; /* placeholder color */
    border: none;
    height: 3rem;
    padding-left: 1rem;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}