/* Page Layout */
html, body {
    margin: 0%;
    padding: 0;
    border-radius: 0;
}

header { 
    background-color: #4c4c47;
    height: 60vh;
}

body {
    background-color: #565f76;
}

.navbar { /* Make gradient around cursor using js */  
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2d2d2a;
    height: 5vh;
}

.logo {
    padding-left: 1rem;
}

.links {
    display: flex;
    padding-right: 1rem;
    gap: 1rem
}

.login_interface, .login_interface form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login_interface {
    justify-content: center;
    background-color: #717c98;
    height: 60vh;
    border-radius: 1rem;
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: -40vh;
}

.login_divider {
    display: flex;
    align-items: center;
    margin-top: 0.8rem;
    width: 100%;
}

.login_divider::before, .login_divider::after {
    flex: 1;
    content: '';
    height: 2px;
    background-color: #b8b8b8;
    margin: 0 10px;
}

.login_divider::before {
    margin-right: 10px;
}

.login_divider::after {
    margin-left: 10px;
}

.summary {
    text-align: center;
    font-size: medium;
}

/* Text Formatting */
p, a, h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p, a {
    color: #b8b8b8;
}

.navbar a {
    text-decoration: none;
    text-align: center;
    color: #69BADD;
    /*color: #f4b860;*/
}

h1 {
    color: #69BADD;
    text-align: center;
}

.login_interface h1 {
    font-size: 4rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

label {
    margin: 1rem;
}

/* Image Formatting */
.logo img {
    height: 2rem;
}

/* Other */
input[type = "text"], input[type = "password"] {
    height: 2rem;
    border-radius: 0.5rem;
    background-color: #565f76;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button[type = "submit"] {
    height: 2rem;
    border-radius: 1rem;
    background-color: #565f76;
}
