<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "/css/style.css">
    <title>GameRecs</title>
</head>

<body>
    <header class="long-header">
        <div class = "navbar">
            <div class = "logo">
                <img src = "assets/Logo.png">
            </div>

            <div class = "links">
                <a href = "/" class = "nav-item">Home</a>
                <a th:if="${authenticated}" th:href="@{/users/{id}/profile(id=${id})}" class="nav-item">Profile</a>
                <form th:if="${authenticated}" th:action = "@{/logout}" method = "post">
                    <button type = "submit" class = "nav-item">Logout</button>
                </form>
                <a th:if="${! authenticated}" href = "/login" class = "nav-item">Sign Up</a>
                <a th:if="${! authenticated}" href = "/login" class = "nav-item">Login</a>
            </div>
        </div>

        <h1>GameRecs</h1>

        <div class = "summary">
            <p>Get a list of game recommendations based on games you like.</p>
            <p><a href = "/login">Log in</a> or <a href = "/login">Sign Up</a> to find out what game is next for you!</p>
        </div>

        <h1>How it works</h1>

        <div class="user-guide">
            <div class="user-guide-item">
                <h2>Tell us about your preferences</h2>

                <div class="user-guide-description">
                    <div class="description-box">
                        <h2>Rate games</h2>
                        <p>Search for games you've played and rate them.</p>
                    </div>

                    <div class="description-box">
                        <h2>Favorite games</h2>
                        <p>Interested in a game but haven't played enough to rate it? Favorite it instead.</p>
                    </div>
                </div>
            </div>

            <div class="user-guide-item">
                <h2>Get recommendations</h2>
                <p>Discover new games based on your taste.</p>
            </div>
        </div>
    </header>
    
    <h1>Sample Recommendations</h1>
    <!---->
    <div class="site-preview-container">
        <img src="assets/profile_screenshot.png" class="site-preview">
        <p class="arrow">→</p>
        <img src="assets/recommended_screenshot.png" class="site-preview">
    </div>

    <div class="summary">
        <p>Try it out <a href = "/login">now</a>!</p>
    </div>

    <footer>
        <p class="igdb-disclaimer">All game data and cover images provided by <a href="https://www.igdb.com" target="_blank">igdb.com</a></p>
    </footer>
</body>
</html>

