<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "/style.css">
    <title>GameRecs</title>
</head>

<header>
    <div class = "navbar">
        <div class = "logo">
            <img src = "assets/Logo.png">
        </div>

        <div class = "links">
            <a href = "/">Home</a>
            <a href = "/login">Sign Up</a>
            <a href = "/login">Login</a>
        </div>
    </div>


    <h1>GameRecs</h1>

    <p>Get a list of game recommendations based on what games you previously liked/disliked.</p>
    <p><a href = "/login">Log in</a> to find out what game is next for you!</p>
    <p>New to GameRecs? <a href = "/login">Sign Up</a> here!</p>
</header>

<body>
    
</body>
</html>

