<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "/style.css">
    <title>GameRecs</title>
</head>

<header>
    <div class = "navbar">
        <div class = "logo">
            <img src = "assets/Logo.png">
        </div>

        <div class = "links">
            <a href = "/">Home</a>
            <a href = "/signup">Sign Up</a>
            <a href = "/login">Login</a>
        </div>
    </div>


    <h1>GameRecs</h1>
</header>

<body>
    
</body>
</html>

