<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "/css/style.css">
    
    <title>GameRecs Login</title>
</head>

<body>
    <header class="long-header">
        <div class = "navbar">
            <div class = "logo">
                <img src = "assets/Logo.png">
            </div>

            <div class = "links">
                <a href = "/" class = "nav-item">Home</a>
                <a href = "/login" class = "nav-item">Sign Up</a>
                <a href = "/login" class = "nav-item">Login</a>
            </div>
        </div>
    </header>

    <div class = "login-interface">
        <div class = "login">
            <h1 class = "login-header">Log In</h1>

            <form method = "post" action = "/login">
                <!--Spring automatically injects _csrf.parameterName and _csrf.token-->
                <input type = "hidden" th:name = "${_csrf.parameterName}" th:value = "${_csrf.token}">

                <input type = "text" id = "emailLogin" placeholder = "Email" name = "emailLogin"><br>
                <input type = "password" id = "passwordLogin" placeholder = "Password" name = "passwordLogin"><br>
                <button type = "submit" id = "login" class="login-button">Log In</button>
            </form>
        </div>

        <div class = "login-divider">
            <p>or</p>
        </div>

        <div class = "signup">
            <h1 class = login-header>Sign Up</h1>

            <form method = "post" action = "/auth/signup">
                <input type = "hidden" th:name = "${_csrf.parameterName}" th:value = "${_csrf.token}">

                <input type = "text" id = "email" name = "email" placeholder = "Email"><br>
                <input type = "text" id = "password" name = "password" placeholder = "Password"><br>
                <input type = "text" id = "retype" name = "retype" placeholder = "Retype Password"><br>
                <button type = "submit" id = "signup" class="login-button">Create Account</button>
            </form>

            <p id = "signuperr" th:text = "${signuperr}"></p>
        </div>

        <div class = "login-divider">
            <p>or</p>
        </div>
        
        <div class = "oauth">
            <a th:href="@{/oauth2/authorization/google}" class = "oauth-item google-oauth">
                <img src = "assets/Google Logo.png" class = "oauth-icon">
                <span>Sign in with Google</span>
            </a>
        </div>
    </div>
</body>

<script type="module" src="/js/pages/login.js"></script>

</html>

