<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "/style.css">
    <title>GameRecs</title>
</head>

<header>
    <div class = "navbar">
        <div class = "logo">
            <img src = "assets/Logo.png">
        </div>

        <div class = "links">
            <a href = "/">Home</a>
            <a href = "/login">Sign Up</a>
            <a href = "/login">Login</a>
        </div>
    </div>
</header>

<body>
    <div class = "login">
        <h1>Log In</h1>

        <form>
            <label for = "email">Email:</label>
            <input type = "text" id = "email"><br>
            <label for = "pass">Password:</label>
            <input type = "text" id = "pass">
        </form>

        <h1>Sign Up</h1>

        <form>
            <label for = "email">Email:</label>
            <input type = "text" id = "email"><br>
            <label for = "pass">Password:</label>
            <input type = "text" id = "pass"><br>
            <label for = "passRe">Retype Password:</label>
            <input type = "text" id = "passRe">
        </form>
    </div>
</body>
</html>

