<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "/css/style.css">
    <script src="/js/auth.js"></script>
    <title>My GameRecs Profile</title>
</head>

<body>
    <header>
        <div class = "navbar">
            <div class = "logo">
                <img src = "/assets/Logo.png">
            </div>

            <div class = "links">
                <a href = "/" class = "nav_item">Home</a>
                <form th:action = "@{/logout}" method = "post">
                    <button type = "submit" class = "nav_item">Logout</button>
                </form>
            </div>
        </div>
        
        <h1>My Profile</h1>
        
        <div class = "search">
            <input type = "text" name = "search" class = "searchbar" placeholder = "Add and rate games you've played to your profile">
            <img src = "/assets/Search Icon.png" class = "search_icon">
        </div>
        
    </header>


    
</body>

</html>