<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <meta name="_csrf" th:content="${_csrf.token}">
    <link rel = "stylesheet" href = "/css/style.css">
    <title>My GameRecs Profile</title>
</head>

<body>
    <header class="profile-header">
        <div class = "navbar">
            <div class = "logo">
                <img src = "/assets/Logo.png">
            </div>

            <div class = "links">
                <a href = "/" class = "nav-item">Home</a>
                <a th:href="@{/users/{id}/profile(id=${id})}" class="nav-item">Profile</a>
                <form th:action = "@{/logout}" method = "post">
                    <button type = "submit" class = "nav-item">Logout</button>
                </form>
            </div>
        </div>
        
        <h1>My Profile</h1>

        <div class="search-container">
            <form class = "search-form" action="/search" method="GET">
                <input type="number" name="page" value="1" class="page-input">

                <div class="filter-container">
                    <input type="checkbox" name="filter-obscure" id="filter-obscure" checked>
                    <label for="filter-obscure" title="Exclude games added by &lt;100 players">Filter obscure results</label>
                </div>
                
                <div class="searchbar-container">
                    <input type = "text" name = "query" class = "searchbar" id="searchbar" placeholder = "Add and rate games you've played to your profile">
                    <button id="search-button" class="search-button" type="submit">
                        <img src = "/assets/Search Icon.png" class = "search-icon">
                    </button>
                </div>
            </form>
            
            <div class="search-results">
                <div class="results-list"></div>
                <div class="page-nav"></div>
            </div>
        </div>
    </header>
    
    <main>
        <h1>My Games</h1>

        <!--Note that both userGames and recs use Game objects for display, so syntax is different from search, which uses dtos-->
        <div class="added-games">
            <p class="no-games-msg" th:if="${userGames.empty}">You have not added any games. To get started with recommendations, please use the searchbar above to add some.</p>

            <div th:each="userGame : ${userGames}" class="profile-card">
                <img class="game-preview" th:src="'https://images.igdb.com/igdb/image/upload/t_1080p/' + ${userGame.game.imageId} + '.jpg'">
                <h2 class="game-name" th:text="${userGame.game.name}"></h2>
                <p class="game-rating" th:text="|Rating: ${userGame.rating} / 10|"></p>
            </div>

            <div th:if="${expandAdded}" class="">
                <a href="profile/added?page=1">All added games</a>
            </div>
        </div>

        <h1>Recommended Games</h1>
        
        <div class="rec-games">
            <p class="no-games-msg" th:if="${userGames.empty}">Add games using the searchbar to get recommendations!</p>
            <div th:each="rec : ${recs}" class="rec-item">
                <div class="rec-summary">
                    <img th:if="${rec.game.imageId != null}" th:src="|https://images.igdb.com/igdb/image/upload/t_cover_big/${rec.game.imageId}.jpg|" class="game-preview-search">
                    <img th:if="${rec.game.imageId == null}" src="/assets/Image_not_found.png" class="game-preview-search">
                    <h2 class="game-name" th:text="${rec.game.name}"></h2>
                    <!--<span th:if="${addedGamesIgdbIds.contains(rec.game.igdbId)}" class="game-added-msg-container">
                        <p class="game-added-msg">This game has already been added to your profile.</p>
                    </span>-->
                    <button type="button" class="rate-button" th:data-igdb-id="${rec.game.igdbId}" th:data-game-name="${rec.game.name}">Rate and add to profile</button>
                </div>
            </div>
        </div>
    </main>
    
    <footer>
        <p class="igdb-disclaimer">All game data and cover images provided by <a href="https://www.igdb.com" target="_blank">igdb.com</a></p>
    </footer>
</body>

<script src="/js/search.js"></script>
<script src="/js/rec.js"></script>
<script src="/js/profile.js"></script>

</html>