<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <meta name="_csrf" th:content="${_csrf.token}">
    <link rel = "stylesheet" href = "/css/style.css">
    <title>My GameRecs Profile</title>
</head>

<body>
    <header class="profile-header">
        <div class = "navbar">
            <div class = "logo">
                <img src = "/assets/Logo.png">
            </div>

            <div class = "links">
                <a href = "/" class = "nav-item">Home</a>
                <a th:href="@{/users/{id}/profile(id=${id})}" class="nav-item">Profile</a>
                <form th:action = "@{/logout}" method = "post">
                    <button type = "submit" class = "nav-item">Logout</button>
                </form>
            </div>
        </div>
        
        <h1>My Profile</h1>

        <div class="search-container">
            <form class = "search-form" action="/search" method="GET">
                <input type="number" name="page" value="1" class="page-input">

                <div class="filter-container">
                    <input type="checkbox" name="filter-obscure" id="filter-obscure" checked>
                    <label for="filter-obscure" title="Exclude games added by &lt;100 players">Filter obscure results</label>
                </div>
                
                <div class="searchbar-container">
                    <input type = "text" name = "query" class = "searchbar" id="searchbar" placeholder = "Add and rate games you've played to your profile">
                    <button id="search-button" class="search-button" type="submit">
                        <img src = "/assets/Search Icon.png" class = "search-icon">
                    </button>
                </div>
            </form>
            
            <div class="search-results">
                <div class="results-list"></div>
                <div class="page-nav"></div>
            </div>
        </div>
    </header>
    
    <main>
        <!--Note that both userGames and recs use Game objects for display, so syntax is different from search, which uses dtos-->
        <div class="added-games-container" id="added-games-container">
            <h1>My Games</h1>
            
            <div class="added-games">
                <p class="info-msg">Add any games that you played to your profile. Features of each added game will be considered (based on your rating of that game) when generating recommendations. </p>
                <p class="no-games-msg" th:if="${addedGames.empty}">You have not added any games. To get started with recommendations, please use the searchbar above to add some.</p>

                <div th:each="addedGame : ${addedGames}" class="profile-card">
                    <img class="game-preview" th:src="'https://images.igdb.com/igdb/image/upload/t_1080p/' + ${addedGame.game.imageId} + '.jpg'">
                    <h2 class="game-name" th:text="${addedGame.game.name}"></h2>
                    <p class="game-rating" th:text="|Rating: ${addedGame.rating} / 10|"></p>
                </div>
            </div>
            
            <div th:if="${expandAdded}" class="expanded-nav-container">
                <a href="profile/added?page=1" class="button">All added games</a>
            </div>
        </div>

        <div class="favorited-games-container" id="favorited-games-container">
            <h1>Favorited Games</h1>

            <div class="favorited-games">
                <p class="info-msg">
                    Favorited games are intended to be games that you have not yet played.
                    This may include games that you plan to play soon, recommendations that you liked, etc. <br><br>
                    Favorited games will also be considered for recommendations, but will be treated as an added game with an average (5/10) rating.
                </p>
                
                <div th:each="favoritedGame : ${favoritedGames}" class="profile-card">
                    <img class="game-preview" th:src="'https://images.igdb.com/igdb/image/upload/t_1080p/' + ${favoritedGame.game.imageId} + '.jpg'">
                    <h2 class="game-name" th:text="${favoritedGame.game.name}"></h2>
                    <p class="game-rating" th:text="Placeholder"></p>
                </div>
            </div>

            <div th:if="${expandFavorites}" class="expanded-nav-container">
                <a href="profile/favorites?page=1" class="button">All favorited games</a>
            </div>
        </div>

        <h1>Recommended Games</h1>
        
        <div class="rec-button-container" id="rec-button-container">
            <p class="no-games-msg" th:if="${addedGames.empty}">Add games using the searchbar to start generating recommendations.</p>
            <button th:if="${! addedGames.empty}" class="rec-button">Get New Recommendations</button>
            <a th:if="${hasRecs}" href="profile/recommended?page=1" class="button">All Recommended Games</a>
        </div>
    </main>
    
    <footer>
        <p class="igdb-disclaimer">All game data and cover images provided by <a href="https://www.igdb.com" target="_blank">igdb.com</a></p>
    </footer>
</body>

<script src="/js/profile.js" id="profile-script"></script>
<script src="/js/search.js" id="search-script"></script>
<script src="/js/add.js" id="add-script"></script>
<script src="/js/rec.js" id="rec-script"></script>
<script src="/js/fav.js" id="fav-script"></script>

</html>