<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <meta name="_csrf" th:content="${_csrf.token}">
    <link rel = "stylesheet" href = "/css/style.css">
    <title>My GameRecs Profile</title>
</head>

<body>
    <header class="profile-header">
        <div class = "navbar">
            <div class = "logo">
                <img src = "/assets/Logo.png">
            </div>

            <div class = "links">
                <a href="/" class="nav-item">Home</a>
                <a th:href="@{/users/{id}/profile(id=${id})}" class="nav-item">Profile</a>
                <form th:action = "@{/logout}" method = "post">
                    <button type = "submit" class = "nav-item">Logout</button>
                </form>
            </div>
        </div>

        <div class="rec-button-container">
            <button class="rec-button">Get New Recommendations</button>
        </div>
    </header>

    <main>
        <h1>My Recommended Games</h1>

        <div class="rec-games">
            <div th:each="rec : ${recs}" class="rec-item">
                <div class="rec-summary" th:data-igdb-id="${rec.game.igdbId}">
                    <img th:if="${rec.game.imageId != null}" th:src="|https://images.igdb.com/igdb/image/upload/t_cover_big/${rec.game.imageId}.jpg|" class="game-preview-search">
                    <img th:if="${rec.game.imageId == null}" src="/assets/Image_not_found.png" class="game-preview-search">

                    <h2 class="game-name" th:text="${rec.game.name}"></h2>

                    <div class="rec-action-container">
                        <span th:if="${sharedIgdbIds.contains(rec.game.igdbId)}" class="game-added-msg-container">
                            <p class="game-added-msg">This game has already been added to your profile.</p>
                        </span>
                        <button th:if="${! sharedIgdbIds.contains(rec.game.igdbId)}" type="button" class="rate-button" th:data-igdb-id="${rec.game.igdbId}" th:data-game-name="${rec.game.name}">Rate and add to profile</button>

                        <button th:if="${! favoritedIgdbIds.contains(rec.game.igdbId)}" type="button" class="fav-button" th:data-igdb-id="${rec.game.igdbId}">Mark as favorite</button>
                        <span th:if="${favoritedIgdbIds.contains(rec.game.igdbId)}" class="game-favorited-msg-container">
                            <p class="game-favorited-msg">This game has already been favorited.</p>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-nav" th:if="${totalPages > 1}">
            <p class="page-indicator">Page: </p>

            <a class="page-nav-item button" th:if="${showFirstPage}"
                th:href="@{/users/{id}/profile/recommended(id=${id}, page=1)}">
                    1
            </a>

            <span th:if="${showLeftEllipsis}">...</span>

            <th:block th:each="p : ${#numbers.sequence(startPage, endPage)}">
                <span th:if="${p == page}"
                    class="page-nav-current"
                    th:text="${p}">
                </span>
                
                <a th:if="${p != page}"
                    class="page-nav-item button"
                    th:href="@{/users/{id}/profile/recommended(id=${id}, page=${p})}"
                    th:text="${p}"
                    th:classappend="${p == page} ? ' active'">
                </a>
            </th:block>

            <span th:if="${showRightEllipsis}">...</span>

            <a class="page-nav-item button" th:if="${showLastPage}"
                th:href="@{/users/{id}/profile/recommended(id=${id}, page=${totalPages})}"
                th:text="${totalPages}">
            </a>
        </div>
    </main>

    <footer>
        <p class="igdb-disclaimer">All game data and cover images provided by <a href="https://www.igdb.com" target="_blank">igdb.com</a></p>
    </footer>
</body>

<script src="/js/add.js"></script>
<script src="/js/rec.js"></script>
<script src="/js/fav.js"></script>

</html>