<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <meta name="_csrf" th:content="${_csrf.token}">
    <link rel = "stylesheet" href = "/css/style.css">
    <title>GameRecs - Search</title>
</head>

<body>
    <header class="profile-header">
        <div class = "navbar">
            <div class = "logo">
                <img src = "/assets/Logo.png">
            </div>

            <div class = "links">
                <a href = "/" class = "nav-item">Home</a>
                <a th:if="${authenticated}" th:href="@{/users/{id}/profile(id=${id})}" class="nav-item">Profile</a>
                <form th:if="${authenticated}" th:action = "@{/logout}" method = "post">
                    <button type = "submit" class = "nav-item">Logout</button>
                </form>
                <a th:if="${! authenticated}" href = "/login" class = "nav-item">Sign Up</a>
                <a th:if="${! authenticated}" href = "/login" class = "nav-item">Login</a>
            </div>
        </div>

        <div class="search-container">
            <form class = "search-form" action="/search" method="GET">
                <input type="number" name="page" value="1" class="page-input">

                <div class="filter-container">
                    <input type="checkbox" name="filter-obscure" id="filter-obscure" checked>
                    <label for="filter-obscure" title="Exclude games added by &lt;100 players">Filter obscure results</label>
                </div>
                
                <div class="searchbar-container">
                    <input type = "text" name = "query" class = "searchbar" id="searchbar" placeholder = "Add and rate games you've played to your profile">
                    <button id="search-button" class="search-button" type="submit">
                        <img src = "/assets/Search Icon.png" class = "search-icon">
                    </button>
                </div>
            </form>
            
            <div class="search-results">
                <div class="results-list"></div>
                <div class="page-nav"></div>
            </div>
        </div>
    </header>

    <main>
        <h1 th:text="|Search results for &quot;${query}&quot;|"></h1>

        <div class="search-results-expanded">
            <div class="results-list">
                <div th:each="game : ${games}" class="search-item-expanded" th:data-igdb-id="${game.id}" th:data-game-name="${game.name}">
                    <div class="search-summary" th:data-igdb-id="${game.id}">
                        <img th:if="${game.cover != null}" th:src="|https://images.igdb.com/igdb/image/upload/t_cover_big/${game.cover.image_id}.jpg|" class="game-preview-search">
                        <img th:if="${game.cover == null}" src="/assets/Image_not_found.png" class="game-preview-search">
                        <h2 class="game-name" th:text="${game.name}"></h2>
                        <span th:if="${authenticated and addedGamesIgdbIds.contains(game.id)}" class="game-added-msg-container">
                            <p class="game-added-msg">This game has already been added to your profile.</p>
                        </span>
                        <button th:if="${authenticated and ! addedGamesIgdbIds.contains(game.id)}" type="button" class="rate-button" th:data-igdb-id="${game.id}">Rate and add to profile</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-nav-expanded" th:if="${totalPages > 1}">
            <p class="page-indicator">Page: </p>
            
            <a class="page-nav-item button" th:if="${showFirstPage}"
                th:href="@{/search(query=${query}, filter-obscure=${filterObscure}, page=1)}">
                    1
            </a>

            <span th:if="${showLeftEllipsis}">...</span>

            <th:block th:each="p : ${#numbers.sequence(startPage, endPage)}">
                <span th:if="${p == page}"
                    class="page-nav-current"
                    th:text="${p}">
                </span>
                
                <a th:if="${p != page}"
                    class="page-nav-item button"
                    th:href="@{/search(query=${query}, filter-obscure=${filterObscure}, page=${p})}"
                    th:text="${p}"
                    th:classappend="${p == page} ? ' active'">
                </a>
            </th:block>

            <span th:if="${showRightEllipsis}">...</span>

            <a class="page-nav-item button" th:if="${showLastPage}"
                th:href="@{/search(query=${query}, filter-obscure=${filterObscure}, page=${totalPages})}"
                th:text="${totalPages}">
            </a>
        </div>
    </main>

    <footer>
        <p class="igdb-disclaimer">All game data and cover images provided by <a href="https://www.igdb.com" target="_blank">igdb.com</a></p>
    </footer>
</body>

<script src="/js/search.js"></script>
<script th:inline="javascript" type="text/javascript">
    const games = /*[[${games}]]*/ [];

    console.log(games);

    games.forEach(game => {
        resultsMap.set(Number(game.id), game);
    });
</script>
<script src="/js/add.js"></script>

</html>